* {box-sizing:border-box}

/* Apply sans-serif to everything by default */
body {
  font-family: sans-serif;
}

/* Use Georgia only for h1 and h2 */
h1, h2, h3 {
  font-family: Georgia, serif;
}
h4 {
  font-family: Georgia;
  font-size:larger;
  font-weight: 600;
  line-height:100%;
}
